<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- Connection pool & DataSource -->
	<context:property-placeholder
		location="classpath:spring/db.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxTotal" value="20" />
		<property name="maxIdle" value="3" />
	</bean>


	<!-- main -->
	<bean id="helloSpring" class="user.main.HelloSpring"></bean>
	<bean id="userInsertService" class="user.service.UserInsertService">
		<property name="userDTO" ref="userDTO" />
		<property name="userDAO" ref="userDAOMybatis" />
	</bean>

	<bean id="userSelectService" class="user.service.UserSelectService">
		<property name="userDAO" ref="userDAOMybatis" />
	</bean>
	<bean id="userUpdateService" class="user.service.UserUpdateService">
		<property name="userDTO" ref="userDTO" />
		<property name="userDAO" ref="userDAOMybatis" />
	</bean>
	<bean id="userDeleteService" class="user.service.UserDeleteService">
		<property name="userDAO" ref="userDAOMybatis" />
	</bean>

	<!-- dto -->
	<bean id="userDTO" class="user.bean.UserDTO" />

	<bean id="userDAOMybatis" class="user.dao.UserDAOMybatis">
		<property name="sqlSession" ref="sqlSession"></property>
	</bean>

	<!-- SqlSessionFactory -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:spring/mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
		<!-- 여기에서 dataSource를 주는 이유 mybatis-config는 connection pool 안가지고 있다. 따라서 
			여기서 따로 준다. -->
		<property name="mapperLocations" value="classpath:user/dao/userMapper.xml" />
		<!-- mapper 선언ㅇ느 mybatis-config에다 해도 되고 여기에다 해도되고, 단 중복만 안되게 -->
	</bean>
	<!-- SqlSessionSession -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>

	<!-- Transaction -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />	
	</bean>
</beans>
